<style>
  .input-text {
    align-self: normal;
    height: 24px;
    font-size: small;
    flex: none;
    border-radius: 4px;
    margin-right: 16px;
    transition: all 100ms ease-out;
    padding-left: 5px;
    background-color: var(--overlay_active);
  }

  .input-text:last-child {
    margin-right: 0;
  }

  .disabled-input {
    pointer-events: none;
    opacity: 0.5;
  }

  .input-local-folder {
    cursor: pointer;
  }

  @media (prefers-color-scheme: light) {
    .text-color {
      color: black;
    }
  }

  @media (prefers-color-scheme: dark) {
    .text-color {
      color: white;
    }
  }
</style>

<setting-section data-title="配置">
  <setting-panel>
    <setting-list data-direction="column">
      <setting-item>
        <setting-text>API Key</setting-text>
        <input
          placeholder="请填写 API Key"
          class="wakatime-apikey input-text text-color"
          type="password"
          spellcheck="false"
        />
      </setting-item>
      <setting-item>
        <setting-text>Refresh Time</setting-text>
        <input
          placeholder="刷新时间（分钟）"
          class="wakatime-refresh input-text text-color"
          type="number"
          spellcheck="false"
        />
      </setting-item>
    </setting-list>
  </setting-panel>
</setting-section>

<setting-section data-title="关于">
  <setting-panel>
    <setting-list data-direction="column">
      <setting-item>
        <div>
          <setting-text id="version">WakaTime - QQ</setting-text>
          <setting-text data-type="secondary">
            通过 WakaTime 跟踪您的 QQ 使用情况 / Track your QQ usage with WakaTime</setting-text>
        </div>
        <setting-button class="btn-github" data-type="secondary">Github</setting-button>
      </setting-item>
      <setting-item>
        <div>
          <setting-text>开源协议</setting-text>
          <setting-text data-type="secondary">MIT license</setting-text>
        </div>
      </setting-item>
    </setting-list>
  </setting-panel>
</setting-section>
